$font-family: 'Arial', sans-serif;
$line-height: 1.6;
$background-image: url('../photos/fondo_pexels-edward-jenner-4252889.jpg');
$background-size: cover;
$background-position: center;
$background-attachment: fixed;
$color: #333;
$primary-color: rgba(52, 58, 64, 0.8);
$hover-color: #474644;
$white: #fff;
$black: #000;
$gold: #ffd700;
$dark-gray: #0d0d0d;
$light-gray: #fbf7f7;
$button-hover: #e6c200;